

.tblCol {
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 1px solid black;
}

.center {
    text-align: center;
    margin: 20px 10px;

}

.mx-2 {
    margin: 0 10px;
}
.my-5 {
    margin: 3rem 0;
}
